.face {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background: white;
}

.face.down:after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: rgb(0, 0, 255);
  z-index: 10;
}

.face-value {
  position: absolute;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  color: #888;
}

.face-value.top {
  top: 0.25em;
  left: 0.25em;
}
.face-value.bottom {
  bottom: 0.25em;
  right: 0.25em;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.suit {
  display: inline-block;
  margin-top: 50%;
  font-size: 3em;
  opacity: 0.5;
}
